[submodule "faster-rcnn.pytorch"]
	path = faster-rcnn.pytorch
	url = https://github.com/lk-chen/faster-rcnn.pytorch.git
	branch = pytorch-1.5
[submodule "detectron2-ResNeSt"]
	path = detectron2-ResNeSt
	url = https://github.com/lk-chen/detectron2-ResNeSt.git
	branch = resnest
[submodule "vod-converter"]
	path = vod-converter
	url = https://github.com/umautobots/vod-converter.git
[submodule "lsi-faster-rcnn"]
	path = lsi-faster-rcnn
	url = https://github.com/cguindel/lsi-faster-rcnn.git
[submodule "eval_kitti"]
	path = eval_kitti
	url = https://github.com/cguindel/eval_kitti.git
